<!DOCTYPE html>
<html lang="es">

<head>
  <title>Inicio de sesión</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="Shortcut Icon" type="image/x-icon" href="assets/icons/book.ico" />
  <script src="js/sweet-alert.min.js"></script>
  <link rel="stylesheet" href="css/sweet-alert.css">
  <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/login.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')
  </script>
  <script src="js/modernizr.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/main.js"></script>
</head>

<body class="full-cover-background" style="background-image:url(assets/img/font-login.jpg);">
  <div class="form-container" style="width:90%; display: inline-block;">
    <p class="text-center" style="margin-top: 17px;">
      <i class="zmdi zmdi-account-circle zmdi-hc-5x"></i>
    </p>
    <h4 class="text-center all-tittles" style="margin-bottom: 30px;">Crea tu cuenta</h4>
    <form autocomplete="off" method="post" action="/registro/save">
      <div class="row" style="color: black">

        <div class="col-xs-5 col-sm-4 col-sm-offset-1">


          <div class="group-material">
            <input type="text" class="material-control tooltips-general"name="nombres" placeholder="Nombres" required="" maxlength="70" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Ingrese sus Nombres">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Nombres</label>
          </div>
          <div class="group-material">
            <input type="text" class="material-control tooltips-general" name="apellidos" placeholder="Apellidos" required="" maxlength="70" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Ingrese sus Apellidos">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Apellidos</label>
          </div>
          <div class="group-material">
              <input type="text" class="tooltips-general material-control" name="Telefono" placeholder="Telefono" pattern="[0-9]{1,20}" required="" maxlength="20" data-toggle="tooltip" data-placement="top" title="Escribe aquí el numero de Telefono, solamente números">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Telefono</label>
          </div>

          <div class="group-material">
            <input type="text" class="material-control tooltips-general"name="Direccion" placeholder="Direccion" required="" maxlength="70" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Ingrese su Direccion">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Direccion</label>
          </div>
      </div>
        <div class="col-xs-5 col-sm-4 col-sm-offset-2">

          <div class="group-material">
            <input type="email" class="material-control tooltips-general" name="email"placeholder="E-mail" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe el Email del administrador">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>

          <div class="group-material">
            <input type="password" class="material-control tooltips-general" name="contraseña" placeholder="Contraseña" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Escribe una contraseña">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Contraseña</label>
          </div>

          <p class="text-center">
            <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
            <button type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
          </p>

        </div>

      </div>
    </form>
  </div>
</body>

</html>
