<section class="full-reset text-center" style="padding: 40px 0;">
  <% if(rol=='administrador'){ %>
  
    <article class="tile">
        <div class="tile-icon full-reset"><a href="/listadoUsuarios"><i class="zmdi zmdi-accounts"></i></div>
        <div class="tile-name all-tittles">Usuarios</div>
        <div class="tile-num full-reset"></div>
    </article>
 <% } %>
    <article class="tile">
        <div class="tile-icon full-reset"><a href="/listadoLibros"><i class="zmdi zmdi-book"></i></div>
        <div class="tile-name all-tittles" >Libros</div>
        <div class="tile-num full-reset"></div>
    </article>
    <article class="tile">
        <div class="tile-icon full-reset"><a href="/listadoRevistas"><i class="zmdi zmdi-book"></i></div>
        <div class="tile-name all-tittles" >Revistas</div>
        <div class="tile-num full-reset"></div>
    </article>



</section>
