<div class="container">
  <div class="row">
    <div class="col-md-11">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Nombres</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Operacion</th>
          </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>

    </div>
  </div>
</div>
